html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.background-container {
  height: 100vh;
  background-color: darkslategray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googlebutton {
  border-radius: 50px !important;
  background: white !important;
  color: black !important; 
  overflow: hidden !important; 
  height: 40px !important; 
  display: flex !important; 
  align-items: center !important;
}
.googlebutton span {
  margin-left: 10%;
}

.active-menu-item {
  background-color: cadetblue;
  border-radius: 10px;
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0%;
}

.mantine-Notification-icon {
  background-color: white !important;
  height: 50px !important;
  width: 50px !important;
}
.mantine-Notification-icon svg {
  width: 36px !important;
  height: 36px !important;
  color: #198754 !important;
}

.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #198754; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}